.open-toggle {
  background-color: #ffffff;
  height: 64px;
  display: flex;
  margin-top: 2rem;
  justify-content: flex-end;
  right: 0;
  margin-right: 1.5rem;
}

/* HOW DO WE CONVERT THIS TO STYLED COMPONENT? */
.modal {
  padding: 0 2rem;
  background-color: #ffffff;
  width: 400px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  right: -100%;
  transition: 850ms;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}

.modal.active {
  right: 0;
  transition: 350ms;
}

.add-button {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  background-color: #333333;
  color: #ffffff;
  font-size: 2rem;
  line-height: 2rem;
  border: none;
}

.form-toggle {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  border-bottom: 1px solid #1a1a1a;
}

/* MOVE THIS INTO STYLED!! */
.add-button:hover {
  transition: 0.3s;
  transform: rotate(360deg);
  background-color: #dedede;
  color: #1a1a1a;
  cursor: pointer;
}

.close-button:hover {
  transition: 0.3s;
  transform: rotate(315deg);
  background-color: #dedede;
  color: #1a1a1a;
  cursor: pointer;
}

.choose-form-btn {
  width: 100%;
  background-color: transparent;
  color: #1a1a1a;
  font-size: 1.125rem;
  line-height: 1.125rem;
  border: none;
  padding-bottom: 1.5rem;
}

.choose-form-btn:hover {
  cursor: pointer;
  border-bottom: 4px solid #1a1a1a;
  font-weight: 400;
  transition: 0.2s;
}

.choose-form-btn:focus {
  border-bottom: 4px solid #1a1a1a;
  font-weight: 400;
}

/* .Overlay {
    background-color: rgba(0, 0, 0, 0.55);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    display: none;
    z-index: 5;
  }

  .Overlay.Show {
    display: block;
  } */
